#loginform{
    display: flex;
    border: 3px solid rgb(77, 77, 226);
    border-radius: 1px;
}
#logintitle{
    padding:2vw;
    background-color: turquoise;
}
.inputbars{
    margin:  2vw;
    display: flex;
}
#loginintro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 62px;
    margin: 0;
}
#gotoregister{
    margin: 0px;
    height: 52px;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}
#loginbtn{
    margin-left: 1px;
    height: 52px;
    width: 52px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}
#buttons{
    display: flex;
    align-items: center;
}
